
.container {
    box-shadow: 10px 10px 5px grey;
    margin: 20px auto;
    width: 60%;
    background-color: lightblue;
    border-radius: 10px;
    max-width: 500px;
    list-style:none;
    padding: 15px;
}


.container h3 {
    text-align: center;
    padding: 15px;
    background-color: #2d2d2d;
    color: white;
    font-size: x-large;
}

.container ul, li, span{
    color: white;
    font-size: large;
    font-weight: bold;
    list-style:none;
    padding: 10px;
    text-align: left;
    margin: 10px;
}

.header {
    background-color: black;
    width: 100%;
    color: white;
    font-family: 'Chango', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 10px ;
}
.header a {
    margin: 10px;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 15px;
}




input[type=number], input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-weight: bold;
    font-size: 17px;
}
p {
    font-family: 'Acme', sans-serif;
    font-size: large;

}


.col-40 {
    float: left;
    width: 40%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    float: right;
    display: inline-block;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .col-40, input[type=text], input[type=number] {
        width: 98%;
        margin:-4px;
    }
    button{
        width: 98%;
        float: none;
        margin-top: 20px;

    }

    .container ul, li, span{
        margin: 1px;
    }
}

.stationNumber {
    color: red;
}

.destinationName {
    color:blue ;
}
/*Display time */
.time{
    font-size: large;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 30px darkblue;
}

/* for t-bana background*/
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}